
body 
{
	background-color: #edf6ff;
	font-family: Microsoft Yahei;
}


#logo 
{
	height: 200px;
	width: 390px;
	padding-top: -20px;
	padding-left: 20px;
}

main
{
	position: relative;
	float: left;
	margin-top: 50px;
	width: 97.5%;
	height: 400px;
	background-color: #B9D7D9;
	margin-top: 250px;
	padding-left: 30px;
	//margin-bottom: 80px;
}

header
{
	position: fixed;
	width: 97.5%;
	margin-top: 20px;
	height: 200px;
	background-color: #d1e8ff;
	margin-bottom: 10px;
}

li
{
	background-color: #d1e8ff;
	width: 90%;
}

.done
{
	color: green;
}

.done::after
{
	content: " DONE!";
	color: rgba(0, 100, 0, 0.7);
}

.overdue::after
{
	content: " OVERDUE!";
	color: red;
}

.pri_1::after
{
	content: "IMPORTANT!   ";
	color: red;
}

.pri_2::after
{
	content: "MEDIUM!   ";
	color: orange;
}